
// fonts
$base-font-size: 15;
$base-font: var(--base-font);
$heading-font: var(--heading-font);

// color
$dark-gray: #212158;
$body-color: #4f555a;
$white: #fff;
$light: #8188a9;
$black: #000;
$cyan: #848892;

$theme-primary-color: #1B9B9F;
$theme-primary-color-s2: #5dc4b8;
$body-bg-color: #fff;
$section-bg-color: #fef6f3;
$section-bg-color2: #F8F8F8;
$text-color: #151515;
$text-light-color: #626262;
$heading-color: $dark-gray;
$border-color: #e1e1e1;
$border-color-s2: #d8e0f1;

$swiper-dots-color: #F1F1F1;
$swiper-dots-border: #D7D7D7;
